p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: DM Sans, sans-serif;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --typical-gap: 20px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /*@include phone {
        width: 320px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }*/
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background-color: #ffb8ca;
  min-height: 502px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 416px;
  }
}

.logo {
  width: 199px;
  height: 50px;
}

.header-nav {
  display: flex;
  padding-top: 8px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav {
    padding-top: 32px;
  }
}

.header-menu-btn {
  margin: 0 auto;
  margin-right: 0;
}

.mob-menu__btn {
  position: relative;
  z-index: 5;
  padding: 0;
  background-color: transparent;
}

.header-btn-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-btn-buy {
    display: inline-block;
    width: 160px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    padding: 0;
    margin-left: 32px;
  }
}

.col-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.baner-wrapper {
  position: relative;
  z-index: 3;
  margin-top: 136px;
}
@media screen and (min-width: 768px) {
  .baner-wrapper {
    margin-top: var(--typical-gap);
    margin-bottom: var(--typical-gap);
  }
}

.banner-img-ice {
  position: absolute;
  width: 171px;
  height: 410px;
  right: 32px;
  top: 92px;
  z-index: 2;
}
@media screen and (min-width: 500px) {
  .banner-img-ice {
    left: 332px;
    right: unset;
  }
}
@media screen and (min-width: 768px) {
  .banner-img-ice {
    width: 143px;
    height: 336px;
    top: 80px;
  }
}

.banner-img-ellipse {
  position: absolute;
  width: 346px;
  height: 344px;
  right: -62px;
  top: 83px;
}
@media screen and (min-width: 500px) {
  .banner-img-ellipse {
    left: 248px;
    right: unset;
  }
}
@media screen and (min-width: 768px) {
  .banner-img-ellipse {
    width: 335px;
    height: 333px;
    top: 43px;
  }
}

.banner-img-milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .banner-img-milk {
    display: block;
    width: 152px;
    height: 154px;
  }
}

.banner-img-girl {
  display: none;
}
@media screen and (min-width: 768px) {
  .banner-img-girl {
    position: relative;
    display: block;
    width: 190px;
    height: 150px;
    z-index: 5;
  }
}

.hero-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    display: block;
    position: relative;
    z-index: 5;
    width: 114px;
    height: 73px;
  }
}

.hero-wrapper__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 7px;
}

.hero-cursor-btn {
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.header-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-gap);
  max-width: 218px;
}
@media screen and (min-width: 768px) {
  .header-title {
    font-size: 22px;
    line-height: 1.13;
  }
}

.header-title__pink {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .header-title__pink {
    font-size: 34px;
    line-height: 90.5%;
  }
}

.buttons-blok {
  display: flex;
}

.buttons-blok__products {
  width: 62.4px;
  height: 24px;
  background: #d41443;
  border-radius: 20px;
  margin-right: 8px;
}

.buttons-blok__made {
  width: 82.8px;
  height: 24px;
  background: #ffffff;
  border-radius: 20px;
}

.buttons-blok__link, .button-made, .button-products {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-col-wrap {
  display: flex;
  align-items: center;
}

.number-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .number-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 16px;
    margin-bottom: 65px;
  }
}

.number-wrapper__list {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.number-wrapper__item {
  position: relative;
}
.number-wrapper__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
}

.number-wrapper__item-16 {
  width: 43px;
  height: 44px;
  margin-bottom: 16px;
}

.number-wrapper__item-23 {
  width: 51px;
  height: 43px;
}

.number-wrapper__numb, .number-wrapper__numb-23, .number-wrapper__numb-16 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: absolute;
}

.number-wrapper__numb-16 {
  top: 2px;
  left: 0;
}

.number-wrapper__numb-23 {
  top: 1px;
  left: 7px;
}

.number-wrapper__text, .number-wrapper__text-23, .number-wrapper__text-16 {
  display: block;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
  position: absolute;
}

.number-wrapper__text-16 {
  bottom: 0;
  left: 13px;
}

.number-wrapper__text-23 {
  bottom: 0;
  left: 0;
}

.button-products {
  color: #ffffff;
}

.button-made {
  color: #d41443;
}

.mob-menu-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.mob-menu {
  position: fixed;
  background-color: #e17992;
  top: 0;
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  transition-property: transform, opacity, visibility;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transform: translateX(0);
}

.mob-menu.is-hidden {
  transform: translateX(-100%);
}

.button-close {
  position: absolute;
  padding: 0;
  right: var(--typical-gap);
  top: var(--typical-gap);
  background-color: transparent;
}

.menu-btn-wrapper {
  padding-top: 60px;
  margin-bottom: 19px;
  text-align: center;
}

.menu-btn-buy {
  width: 209px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  padding: 0;
}

.menu-btn-buy__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  color: #d41443;
}

.menu-btn-icon {
  margin-left: 15px;
}

.menu-content__item {
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 13px;
}
.menu-content__item:nth-child(2n+1) {
  border: 1px solid #e18298;
}

.menu-content__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  color: #ffffff;
}
.menu-content__link:hover, .menu-content__link:focus {
  color: #d41443;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 118, 118, 0.699);
  transition: opacity 350ms, visibility 350ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */